/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  box-sizing: border-box; }

/**
 * 
 */
*, *:before, *:after {
  box-sizing: inherit; }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 0;
  text-decoration: none; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ==========================================================================
   Clear
   ========================================================================== */
.clear:after,
.clearfix:after,
dl:after,
.additional-devices-content:after,
.container:after {
  content: '';
  display: table;
  clear: both; }

/* ==========================================================================
   Typography
   ========================================================================== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0; }

/* ==========================================================================
   Lists
   ========================================================================== */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'Dinbek';
  src: url("fonts/dinbek-regular.eot");
  src: url("fonts/dinbek-regular.eot?#iefix") format("embedded-opentype"), url("fonts/dinbek-regular.woff2") format("woff2"), url("fonts/dinbek-regular.woff") format("woff"), url("fonts/dinbek-regular.ttf") format("truetype"), url("fonts/dinbek-regular.svg#dinbekregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Dinbek Bold';
  src: url("fonts/dinbek-bold.eot");
  src: url("fonts/dinbek-bold.eot?#iefix") format("embedded-opentype"), url("fonts/dinbek-bold.woff2") format("woff2"), url("fonts/dinbek-bold.woff") format("woff"), url("fonts/dinbek-bold.ttf") format("truetype"), url("fonts/dinbek-bold.svg#dinbek-boldregular") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'icons';
  src: url("fonts/icons.eot?h00zat");
  src: url("fonts/icons.eot?h00zat#iefix") format("embedded-opentype"), url("fonts/icons.ttf?h00zat") format("truetype"), url("fonts/icons.woff?h00zat") format("woff"), url("fonts/icons.svg?h00zat#icons") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-logo-couturissimo-circle:before {
  content: "\e90d"; }

.icon-logo-couturissimo:before {
  content: "\e99c"; }

.icon-heart:before {
  content: "\e90c"; }

.icon-menu:before {
  content: "\e90b"; }

.icon-close:before {
  content: "\e900"; }

.icon-chevron-left:before {
  content: "\e909"; }

.icon-chevron-right:before {
  content: "\e90a"; }

.icon-play:before {
  content: "\e901"; }

.icon-search:before {
  content: "\e902"; }

.icon-bag:before {
  content: "\e903"; }

.icon-profile:before {
  content: "\e904"; }

.icon-youtube:before {
  content: "\e905"; }

.icon-twitter:before {
  content: "\e906"; }

.icon-facebook:before {
  content: "\e907"; }

.icon-instagram:before {
  content: "\e908"; }

html {
  height: 100%;
  font-size: 62.5%; }
  * html {
    margin-top: 0 !important; }

body {
  background: #f9f9f9;
  color: #888888;
  font-size: 15px;
  font-size: 1.5rem;
  font-family: 'Dinbek', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
  min-width: 300px;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column; }

img {
  max-width: 100%; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal; }

h1 {
  font-size: 50px;
  font-size: 5rem;
  line-height: 1; }

h2 {
  font-size: 38px;
  font-size: 3.8rem;
  line-height: 1.2; }

h3 {
  font-size: 30px;
  font-size: 3rem;
  line-height: 1; }

h4 {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1; }

h5 {
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.2; }

h6 {
  font-size: 18px;
  font-size: 1.8rem; }

address {
  font-style: normal; }

blockquote {
  padding: 0;
  margin: 0;
  position: relative; }

hr {
  height: 1px;
  border: 0;
  background: #dcdcdc;
  overflow: visible;
  position: relative; }
  hr.or:before {
    content: "or";
    position: absolute;
    top: 0;
    line-height: 1;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFF;
    padding: 0 0.5em; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none; }

dl {
  overflow: hidden;
  margin: 0; }
  dl dt, dl dd {
    float: left;
    margin: 0 0.5em 0 0; }

table td,
table th {
  padding: 0.8em 1em;
  border-bottom: 1px solid #f4f4f4;
  text-align: center; }
  table td:first-child,
  table th:first-child {
    text-align: left;
    padding-left: 0; }

input[type=text],
input[type=email],
input[type=url],
input[type=tel],
input[type=number],
input[type=password],
textarea,
select {
  width: 100%;
  box-sizing: border-box;
  color: #000000;
  border: none;
  font-family: 'Dinbek', sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0.8em;
  font-size: 14px;
  font-size: 1.4rem;
  display: inline-block;
  border-radius: 0;
  line-height: 1.4;
  background: transparent;
  border: 1px solid #d8d8d8;
  transition: all 0.3s ease;
  border-radius: 3px; }
  input[type=text]:focus,
  input[type=email]:focus,
  input[type=url]:focus,
  input[type=tel]:focus,
  input[type=number]:focus,
  input[type=password]:focus,
  textarea:focus,
  select:focus {
    outline: none;
    border-color: #000; }
    input[type=text]:focus::-webkit-input-placeholder,
    input[type=email]:focus::-webkit-input-placeholder,
    input[type=url]:focus::-webkit-input-placeholder,
    input[type=tel]:focus::-webkit-input-placeholder,
    input[type=number]:focus::-webkit-input-placeholder,
    input[type=password]:focus::-webkit-input-placeholder,
    textarea:focus::-webkit-input-placeholder,
    select:focus::-webkit-input-placeholder {
      opacity: 0; }
    input[type=text]:focus:-moz-placeholder,
    input[type=email]:focus:-moz-placeholder,
    input[type=url]:focus:-moz-placeholder,
    input[type=tel]:focus:-moz-placeholder,
    input[type=number]:focus:-moz-placeholder,
    input[type=password]:focus:-moz-placeholder,
    textarea:focus:-moz-placeholder,
    select:focus:-moz-placeholder {
      opacity: 0; }
    input[type=text]:focus::-moz-placeholder,
    input[type=email]:focus::-moz-placeholder,
    input[type=url]:focus::-moz-placeholder,
    input[type=tel]:focus::-moz-placeholder,
    input[type=number]:focus::-moz-placeholder,
    input[type=password]:focus::-moz-placeholder,
    textarea:focus::-moz-placeholder,
    select:focus::-moz-placeholder {
      opacity: 0; }
    input[type=text]:focus:-ms-input-placeholder,
    input[type=email]:focus:-ms-input-placeholder,
    input[type=url]:focus:-ms-input-placeholder,
    input[type=tel]:focus:-ms-input-placeholder,
    input[type=number]:focus:-ms-input-placeholder,
    input[type=password]:focus:-ms-input-placeholder,
    textarea:focus:-ms-input-placeholder,
    select:focus:-ms-input-placeholder {
      opacity: 0; }

select {
  -webkit-appearance: none;
  color: #000;
  position: relative; }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    select {
      padding-right: 20px;
      background: url(../images/icon-caret-down.svg) no-repeat 95% center; } }

button {
  transition: all 0.3s ease;
  display: inline-block;
  font-family: 'Futura W01', sans-serif;
  font-weight: 400;
  font-style: normal;
  background: #FFF;
  padding: 0.6em 3em;
  text-align: center;
  font-size: 13px;
  font-size: 1.3rem;
  border: 0;
  position: relative;
  cursor: pointer;
  outline: 0;
  border: 1px solid #000;
  -webkit-appearance: none; }
  button:hover {
    box-shadow: inset 0 0 0 2px #000; }

a {
  cursor: pointer;
  transition: all 0.3s ease;
  color: #000;
  text-decoration: none;
  outline: 0; }
  a:focus {
    outline: 0; }

textarea {
  height: 200px; }

input[type=submit],
input[type=reset] {
  transition: all 0.3s ease;
  display: inline-block;
  font-family: 'Dinbek', sans-serif;
  font-weight: 400;
  font-style: normal;
  background: #ed3d89;
  color: #FFF;
  border-radius: 3px;
  padding: 0.8em 3em;
  border: 0; }
  input[type=submit]:hover,
  input[type=reset]:hover {
    background: #000;
    color: #FFF; }
  input[type=submit]:focus,
  input[type=reset]:focus {
    outline: none; }

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="radio"]::-moz-focus-inner,
option::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none !important;
  outline: none !important; }

label {
  font-family: 'Dinbek', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  font-size: 1.6rem; }

fieldset {
  border: 1px solid #000;
  padding: 1em; }
  fieldset legend {
    padding: 0 1em;
    font-family: 'Futura W01', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    font-size: 1rem; }

::-webkit-input-placeholder {
  opacity: 0.7;
  transition: opacity 0.3s ease; }

:-moz-placeholder {
  opacity: 0.7;
  transition: opacity 0.3s ease; }

::-moz-placeholder {
  opacity: 0.7;
  transition: opacity 0.3s ease; }

:-ms-input-placeholder {
  opacity: 0.7;
  transition: opacity 0.3s ease; }

figure img {
  display: inline-block;
  vertical-align: top; }

figure figcaption {
  padding: 0.4em 0.5em;
  font-family: 'Futura W01', sans-serif;
  font-weight: 400;
  font-style: normal; }

caption {
  font-family: 'Futura W01', sans-serif;
  font-weight: 400;
  font-style: normal; }

.site-header {
  background: #FFF;
  display: flex;
  justify-content: space-between;
  height: 60px;
  box-shadow: 0 0 8px rgba(124, 0, 64, 0.1);
  z-index: 100; }
  @media only screen and (max-width: 800px) {
    .site-header {
      height: 50px; } }
  @media only screen and (max-width: 800px) {
    .site-header .site-logo {
      padding: 0 1em; } }
  @media only screen and (max-width: 800px) {
    .site-header .header-navigation {
      display: none; } }

.site-main {
  flex: 1; }

.site-footer {
  background: #ed3d89;
  color: #FFF;
  text-align: center;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .site-footer .terms-conditions {
    display: none; }
    @media only screen and (max-width: 800px) {
      .site-footer .terms-conditions {
        display: block; } }

.secondary-navigation, .header-navigation {
  display: flex; }
  .secondary-navigation .menu, .header-navigation .menu {
    display: flex;
    align-items: center; }
  .secondary-navigation .menu-item a, .header-navigation .menu-item a {
    padding: 0.5em 2em;
    font-size: 18px;
    font-size: 1.8rem; }

.menu-item a {
  display: inline-block;
  color: #58585a;
  font-family: 'Dinbek Bold', sans-serif;
  font-weight: 600;
  font-style: normal; }
  .menu-item a:hover {
    color: #000; }

.site-logo {
  background: #7b0140;
  display: flex;
  align-items: center;
  padding: 0.5em 2em; }

.primary-button {
  border-radius: 3px;
  display: inline-block;
  background: #7b0140;
  padding: 1em 2em;
  font-size: 18px;
  font-size: 1.8rem;
  color: #FFF;
  text-align: center;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  font-family: 'Dinbek Bold', sans-serif;
  font-weight: 600;
  font-style: normal; }
  .primary-button:hover {
    background: #ed3d89; }

.secondary-button {
  border-radius: 3px;
  display: inline-block;
  background: #d4d4d4;
  padding: 1em 2em;
  font-size: 18px;
  font-size: 1.8rem;
  color: #FFF;
  text-align: center;
  font-family: 'Dinbek Bold', sans-serif;
  font-weight: 600;
  font-style: normal; }
  .secondary-button:hover {
    background: #a0a0a0; }

.tertiary-button {
  border-radius: 3px;
  display: inline-block;
  background: #FFF;
  padding: 0.7em 2em;
  font-size: 14px;
  font-size: 1.4rem;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Dinbek Bold', sans-serif;
  font-weight: 600;
  font-style: normal; }
  .tertiary-button:hover {
    color: #FFF;
    background: #7b0140; }

.facebook-button {
  position: relative; }
  .facebook-button:before {
    content: '';
    width: 25px;
    height: 25px;
    background: url(../images/icon-facebook.svg);
    vertical-align: -6px;
    display: inline-block;
    margin-right: 0.5em;
    background-size: contain; }
  .facebook-button:hover {
    background: #29487d; }

.hero {
  display: flex;
  height: 40vh;
  max-height: 600px;
  min-height: 460px;
  color: #FFF;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: #000 url(../images/hero.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 100; }
  @media only screen and (max-width: 800px) {
    .hero {
      min-height: 300px; } }
  .hero:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.1); }
  @media only screen and (max-width: 1200px) {
    .hero .hero-title {
      font-size: 40px;
      font-size: 4rem; } }
  @media only screen and (max-width: 1000px) {
    .hero .hero-title {
      font-size: 34px;
      font-size: 3.4rem; } }
  @media only screen and (max-width: 1200px) {
    .hero .hero-subtitle {
      font-size: 34px;
      font-size: 3.4rem; } }
  @media only screen and (max-width: 1000px) {
    .hero .hero-subtitle {
      font-size: 30px;
      font-size: 3rem; } }
  @media only screen and (max-width: 800px) {
    .hero .hero-subtitle {
      font-size: 26px;
      font-size: 2.6rem; } }

.hero-content {
  text-shadow: 0 0 20px black;
  position: relative;
  z-index: 200; }

.hero-title {
  font-family: 'Dinbek Bold', sans-serif;
  font-weight: 600;
  font-style: normal;
  margin: 0.5em 0; }

.hero-subtitle {
  margin: 0.5em 0; }

.register-content {
  background: #FFF;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  max-width: 620px;
  position: relative; }
  .register-content .register-form {
    margin: 0 auto;
    max-width: 470px; }
    .register-content .register-form .form-title {
      margin-left: -2em;
      margin-right: -2em; }
      @media only screen and (max-width: 700px) {
        .register-content .register-form .form-title {
          margin: 0; } }
  .register-content .upgrade-notice {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%); }
    @media only screen and (max-width: 800px) {
      .register-content .upgrade-notice {
        display: none; } }

.register-page .register-content {
  margin: -6em auto 4em auto;
  padding: 2em;
  position: relative;
  z-index: 200; }
  @media only screen and (max-width: 800px) {
    .register-page .register-content {
      padding: 1em; } }
  @media only screen and (max-width: 700px) {
    .register-page .register-content {
      margin: -2em 1em 2em 1em;
      width: auto; } }

.register-form {
  margin: 0 auto; }
  .register-form .form-body {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between; }
  .register-form .form-field {
    width: 100%; }
  .register-form .last-name-field,
  .register-form .first-name-field,
  .register-form .age-field,
  .register-form .source-field,
  .register-form .gender-field,
  .register-form .why-field,
  .register-form .dob-field,
  .register-form .activation-method-field {
    width: 49%; }
  .register-form .country-phone-code-field {
    width: 30%; }
  .register-form .phone-field {
    width: 69%; }
  .register-form .form-footer {
    margin: 1em 0 0 0; }
    .register-form .form-footer input[type=submit] {
      width: 100%; }

.form-header {
  text-align: center;
  padding: 1em 0; }
  .form-header .form-title {
    margin: 0.5em 0; }
    @media only screen and (max-width: 1200px) {
      .form-header .form-title {
        font-size: 34px;
        font-size: 3.4rem; } }
    @media only screen and (max-width: 1000px) {
      .form-header .form-title {
        font-size: 30px;
        font-size: 3rem; } }
    @media only screen and (max-width: 800px) {
      .form-header .form-title {
        font-size: 26px;
        font-size: 2.6rem; } }

.form-body .form-field {
  margin-bottom: 0.8em; }

.form-footer .form-disclaimer {
  margin: 1em 0 0 0; }

.form-title {
  color: #7b0140;
  font-family: 'Dinbek Bold', sans-serif;
  font-weight: 600;
  font-style: normal; }

.form-disclaimer {
  font-size: 12px;
  font-size: 1.2rem; }

.checkbox-field {
  padding-left: 20px;
  position: relative; }
  .checkbox-field input {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0.3em 0; }
  .checkbox-field a {
    color: #ed3d89; }

.entry-content h1, .form-description h1, .connect-content h1, .connected-content h1, .offers-header h1, .terms-conditions-content h1, .entry-content h2, .form-description h2, .connect-content h2, .connected-content h2, .offers-header h2, .terms-conditions-content h2, .entry-content h3, .form-description h3, .connect-content h3, .connected-content h3, .offers-header h3, .terms-conditions-content h3, .entry-content h4, .form-description h4, .connect-content h4, .connected-content h4, .offers-header h4, .terms-conditions-content h4, .entry-content h5, .form-description h5, .connect-content h5, .connected-content h5, .offers-header h5, .terms-conditions-content h5, .entry-content h6, .form-description h6, .connect-content h6, .connected-content h6, .offers-header h6, .terms-conditions-content h6 {
  margin: 0.5em 0; }

.entry-content p, .form-description p, .connect-content p, .connected-content p, .offers-header p, .terms-conditions-content p {
  margin: 0.8em 0; }

.connect-page .connect-content {
  margin: -6em auto 4em auto;
  padding: 2em;
  position: relative;
  z-index: 200; }
  @media only screen and (max-width: 800px) {
    .connect-page .connect-content {
      padding: 1em; } }
  @media only screen and (max-width: 700px) {
    .connect-page .connect-content {
      margin: -2em 1em 2em 1em;
      width: auto; } }

.connect-content {
  background: #FFF;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  max-width: 620px;
  text-align: center;
  position: relative; }
  .connect-content hr {
    margin: 2em 0; }
  .connect-content p,
  .connect-content h2,
  .connect-content hr {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto; }
  .connect-content h2 {
    font-family: 'Dinbek Bold', sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #7b0140; }
    @media only screen and (max-width: 1200px) {
      .connect-content h2 {
        font-size: 34px;
        font-size: 3.4rem; } }
    @media only screen and (max-width: 1000px) {
      .connect-content h2 {
        font-size: 30px;
        font-size: 3rem; } }
    @media only screen and (max-width: 800px) {
      .connect-content h2 {
        font-size: 26px;
        font-size: 2.6rem; } }
  .connect-content .primary-button,
  .connect-content .secondary-button {
    width: 100%; }
  .connect-content .upgrade-notice {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%); }
    @media only screen and (max-width: 800px) {
      .connect-content .upgrade-notice {
        display: none; } }

.upgrade-notice {
  width: 148px;
  height: 148px;
  display: block;
  background: url(../images/upgrade-notice.png) no-repeat center;
  background-size: contain; }

.logos {
  text-align: center; }

.welcome-back-page {
  display: flex;
  flex-flow: wrap; }
  .welcome-back-page .connected {
    max-width: 600px;
    padding: 4em; }
    @media only screen and (max-width: 1200px) {
      .welcome-back-page .connected {
        max-width: 400px;
        padding: 2em; } }
    @media only screen and (max-width: 1000px) {
      .welcome-back-page .connected {
        width: 33.333%;
        padding: 1em; } }
    @media only screen and (max-width: 800px) {
      .welcome-back-page .connected {
        max-width: none;
        width: 100%;
        text-align: center; } }
    @media only screen and (max-width: 1000px) {
      .welcome-back-page .connected h2 {
        font-size: 20px;
        font-size: 2rem; } }
    @media only screen and (max-width: 1000px) {
      .welcome-back-page .connected h5 {
        font-size: 16px;
        font-size: 1.6rem; } }
  .welcome-back-page .manage-connection {
    width: calc(100% - 600px);
    padding: 4em; }
    @media only screen and (max-width: 1200px) {
      .welcome-back-page .manage-connection {
        width: calc(100% - 400px);
        padding: 2em; } }
    @media only screen and (max-width: 1000px) {
      .welcome-back-page .manage-connection {
        width: 66.666%;
        padding: 1em; } }
    @media only screen and (max-width: 800px) {
      .welcome-back-page .manage-connection {
        width: 100%; } }
    @media only screen and (max-width: 1000px) {
      .welcome-back-page .manage-connection h5 {
        font-size: 18px;
        font-size: 1.8rem; } }
    .welcome-back-page .manage-connection .connection-option, .welcome-back-page .manage-connection .superfast-option, .welcome-back-page .manage-connection .free-option {
      margin-bottom: 0; }
  .welcome-back-page .offers {
    width: 100%; }
  .welcome-back-page .additional-devices {
    width: 100%; }

.connected {
  background: #aebb60;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center; }

.connected-content h2 {
  font-family: 'Dinbek Bold', sans-serif;
  font-weight: 600;
  font-style: normal; }
  @media only screen and (max-width: 1200px) {
    .connected-content h2 {
      font-size: 30px;
      font-size: 3rem; } }
  @media only screen and (max-width: 1000px) {
    .connected-content h2 {
      font-size: 24px;
      font-size: 2.4rem; } }
  @media only screen and (max-width: 800px) {
    .connected-content h2 {
      font-size: 20px;
      font-size: 2rem; } }

@media only screen and (max-width: 800px) {
  .connected-content h5 {
    font-size: 16px;
    font-size: 1.6rem; } }

.connected-content .highlight {
  color: #ecfd88; }

.lined-title {
  position: relative;
  text-align: center; }
  .lined-title span {
    position: relative;
    z-index: 200;
    background: #FFF;
    padding: 0 0.5em; }
  .lined-title:before {
    z-index: 100;
    content: '';
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    display: block;
    background: #dcdcdc;
    position: absolute; }

.manage-connection {
  background: #FFF; }
  .manage-connection .connection-options {
    max-width: 800px;
    margin: 0 auto; }

.manage-connection-header {
  text-align: center; }
  .manage-connection-header h3 {
    margin: 0.2em 0 0.8em 0; }
    @media only screen and (max-width: 800px) {
      .manage-connection-header h3 {
        font-size: 24px;
        font-size: 2.4rem; } }
    @media only screen and (max-width: 600px) {
      .manage-connection-header h3 {
        font-size: 20px;
        font-size: 2rem; } }
  .manage-connection-header .logos {
    margin: 1em 0; }

.connection-options .connection-option, .connection-options .superfast-option, .connection-options .free-option {
  margin: 0 0 2em 0;
  box-shadow: 0 3px 30px rgba(0, 0, 0, 0.1); }
  @media only screen and (max-width: 800px) {
    .connection-options .connection-option, .connection-options .superfast-option, .connection-options .free-option {
      margin-bottom: 1em; } }

.connection-option, .superfast-option, .free-option {
  padding: 2em;
  padding-right: 200px;
  position: relative;
  min-height: 130px; }
  @media only screen and (max-width: 600px) {
    .connection-option, .superfast-option, .free-option {
      padding: 1em; } }
  .connection-option h5, .superfast-option h5, .free-option h5 {
    margin-bottom: 0.2em; }
    @media only screen and (max-width: 800px) {
      .connection-option h5, .superfast-option h5, .free-option h5 {
        font-size: 16px;
        font-size: 1.6rem; } }
  .connection-option p, .superfast-option p, .free-option p {
    font-size: 13px;
    font-size: 1.3rem;
    margin: 0.4em 0; }
    @media only screen and (max-width: 800px) {
      .connection-option p, .superfast-option p, .free-option p {
        font-size: 11px;
        font-size: 1.1rem; } }
  .connection-option .selection, .superfast-option .selection, .free-option .selection {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 1em;
    text-align: center;
    background: #ed3d89;
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 800px) {
      .connection-option .selection, .superfast-option .selection, .free-option .selection {
        width: 150px; } }
    @media only screen and (max-width: 600px) {
      .connection-option .selection, .superfast-option .selection, .free-option .selection {
        width: auto;
        position: relative;
        margin: 1em -1em -1em -1em; } }
    .connection-option .selection a, .superfast-option .selection a, .free-option .selection a {
      margin-top: 1em; }

.superfast-option {
  background: #7b0140;
  color: #FFF; }
  .superfast-option .selection {
    background: #ed3d89; }
  .superfast-option .upgrade-notice {
    position: absolute;
    top: 0;
    left: 0;
    width: 85px;
    height: 85px;
    transform: translate(-50%, -50%); }
    @media only screen and (max-width: 800px) {
      .superfast-option .upgrade-notice {
        display: none; } }
  .superfast-option .logos {
    background: #FFF;
    padding: 1em;
    color: #000;
    margin: 1em 0 0 0; }

.free-option {
  background: #dfdfdf;
  color: #333; }
  .free-option .selection {
    background: #9b9b9b; }

.food-offers {
  display: flex;
  flex-flow: wrap;
  width: 100%; }
  .food-offers .offers-header {
    padding: 4em;
    max-width: 600px;
    padding: 4em; }
    @media only screen and (max-width: 1200px) {
      .food-offers .offers-header {
        max-width: 400px;
        padding: 2em; } }
    @media only screen and (max-width: 1000px) {
      .food-offers .offers-header {
        max-width: none;
        width: 100%;
        text-align: center; } }
    @media only screen and (max-width: 800px) {
      .food-offers .offers-header {
        padding: 1em; } }
  .food-offers .offers-list {
    width: calc(100% - 600px);
    padding: 4em; }
    @media only screen and (max-width: 1200px) {
      .food-offers .offers-list {
        width: calc(100% - 400px);
        padding: 2em; } }
    @media only screen and (max-width: 1000px) {
      .food-offers .offers-list {
        width: 100%; } }
    @media only screen and (max-width: 800px) {
      .food-offers .offers-list {
        padding: 1em; } }

.offers-header h2 {
  font-family: 'Dinbek Bold', sans-serif;
  font-weight: 600;
  font-style: normal; }
  @media only screen and (max-width: 1200px) {
    .offers-header h2 {
      font-size: 30px;
      font-size: 3rem; } }
  @media only screen and (max-width: 1000px) {
    .offers-header h2 {
      font-size: 24px;
      font-size: 2.4rem; } }
  @media only screen and (max-width: 800px) {
    .offers-header h2 {
      font-size: 20px;
      font-size: 2rem; } }

.offers-list {
  display: flex;
  flex-flow: wrap; }
  .offers-list .offer-item {
    width: 33.333%; }
    @media only screen and (max-width: 1400px) {
      .offers-list .offer-item {
        width: 50%; } }
    @media only screen and (max-width: 1000px) {
      .offers-list .offer-item {
        width: 33.333%; } }
    @media only screen and (max-width: 600px) {
      .offers-list .offer-item {
        width: 50%; } }
  .offers-list .offers-disclaimer {
    margin: 0 1em; }

.offer-item {
  position: relative;
  padding: 10px; }
  .offer-item .offer-title {
    font-family: 'Dinbek Bold', sans-serif;
    font-weight: 600;
    font-style: normal;
    display: block;
    text-align: center;
    padding: 0.5em; }
  .offer-item .offer-thumbnail img {
    width: 100%; }
  .offer-item .offer-price {
    position: absolute;
    top: 10px;
    left: 10px;
    border-bottom-right-radius: 100%;
    background: #aebb60;
    color: #FFF;
    font-weight: bold;
    font-size: 1.8em;
    padding: 0.3em 1em 0.8em 0.5em; }

.terms-conditions-page {
  padding: 0 0 2em 0; }
  .terms-conditions-page .terms-conditions-content {
    margin: 0 auto;
    padding: 2em;
    position: relative;
    z-index: 200; }
    @media only screen and (max-width: 800px) {
      .terms-conditions-page .terms-conditions-content {
        padding: 1em; } }
    @media only screen and (max-width: 700px) {
      .terms-conditions-page .terms-conditions-content {
        margin: 0 1em;
        width: auto; } }

.terms-conditions-header {
  padding: 4em 0;
  text-align: center; }
  @media only screen and (max-width: 600px) {
    .terms-conditions-header {
      padding: 2em 0; } }
  @media only screen and (max-width: 600px) {
    .terms-conditions-header h1 {
      font-size: 30px;
      font-size: 3rem; } }

.terms-conditions-content {
  max-width: 800px;
  background: #FFF;
  margin: 0 auto; }
  @media only screen and (max-width: 600px) {
    .terms-conditions-content h4 {
      font-size: 18px;
      font-size: 1.8rem; } }

.activation-form {
  position: relative; }
  .activation-form .form-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1px; }
    .activation-form .form-footer input[type=submit] {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }

#activate,
#resend {
  display: none; }
  #activate:target,
  #resend:target {
    display: block; }

.additional-devices {
  background: #7b0140;
  padding: 4em 10px; }
  @media only screen and (max-width: 700px) {
    .additional-devices {
      padding: 2em 10px; } }
  .additional-devices > .inner {
    display: flex;
    padding: 3em;
    background: #FFF;
    max-width: 900px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 700px) {
      .additional-devices > .inner {
        flex-flow: column;
        padding: 2em; } }
  @media only screen and (max-width: 400px) {
    .additional-devices .additional-devices-content {
      text-align: center; } }
  @media only screen and (max-width: 400px) {
    .additional-devices .additional-devices-content img {
      display: none; } }
  @media only screen and (max-width: 700px) {
    .additional-devices .activation-code {
      margin: 1em 0 0 0; } }

.additional-devices-content {
  padding: 0 1em 0 0; }
  .additional-devices-content h5 {
    color: #7b0140;
    margin: 0 0 0.5em 0;
    font-family: 'Dinbek Bold', sans-serif;
    font-weight: 600;
    font-style: normal; }
  .additional-devices-content img {
    float: left;
    margin: 0.5em 2em 0.5em 0; }

.activation-code {
  color: #7b0140;
  background: #f2f2f2;
  padding: 0.5em 3em;
  font-size: 28px;
  font-size: 2.8rem;
  font-family: 'Dinbek Bold', sans-serif;
  font-weight: 600;
  font-style: normal;
  vertical-align: middle; }

.portal-page .manage-connection {
  padding: 4em 0;
  background: none; }
