html {
	height: 100%;
	font-size: 62.5%;

	* & {
		margin-top: 0 !important;
	}
}

body {
	//height: 100%;
	background: #f9f9f9;
	color: #888888;
	@include font-size(15);
	@include dinbek;
	line-height: 1.4;
	min-width: 300px;
	-webkit-font-smoothing: antialiased;
	display: flex;
	flex-direction: column;
}

img {
	max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	font-weight: normal;
}

h1 {
	@include font-size(50);
	line-height: 1;
}

h2 {
	@include font-size(38);
	line-height: 1.2;
}

h3 {
	@include font-size(30);
	line-height: 1;
}

h4 {
	@include font-size(24);
	line-height: 1;
}

h5 {
	@include font-size(20);
	line-height: 1.2;
}

h6 {
	@include font-size(18);
	//line-height: 1.2;
}

address {
	font-style: normal;
}

blockquote {
	padding: 0;
	margin: 0;
	position: relative;
}

hr {
	height: 1px;
	border: 0;
	background: #dcdcdc;
	overflow: visible;
	position: relative;

	&.or {

		&:before {
			content: "or";
			position: absolute;
			top: 0;
			line-height: 1;
			left: 50%;
			transform: translate(-50%, -50%);
			background: #FFF;
			padding: 0 0.5em;
		}
	}
}

ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

dl {
	@extend .clearfix;
	overflow: hidden;
	margin: 0;
	
	dt, dd {
		float: left;
		margin: 0 0.5em 0 0;
	}
}

table {
	td,
	th {
		padding: 0.8em 1em;
		border-bottom: 1px solid #f4f4f4;
		text-align: center;

		&:first-child {
			text-align: left;
			padding-left: 0;
		}
	}
}

input[type=text],
input[type=email],
input[type=url],
input[type=tel],
input[type=number],
input[type=password], 
textarea,
select {
	width: 100%;
	//max-width: 500px;
	box-sizing: border-box;
	color: #000000;
	border: none;
	@include dinbek;
	padding: 0.8em;
	@include font-size(14);
	display: inline-block;
	border-radius: 0;
	line-height: 1.4;
	background: transparent;
	border: 1px solid #d8d8d8;
	transition: all 0.3s ease;
	border-radius: 3px;

	&:focus {
		outline: none;
		border-color: #000;

		&::-webkit-input-placeholder {
			opacity: 0;
		}

		&:-moz-placeholder {
			opacity: 0;
		}

		&::-moz-placeholder { 
			opacity: 0;
		}

		&:-ms-input-placeholder {
			opacity: 0;
		}
	}
}

select {
	-webkit-appearance: none;
	color: #000;
	position: relative;

	@media screen and (-webkit-min-device-pixel-ratio:0) {
		padding-right: 20px;
		background: url(../images/icon-caret-down.svg) no-repeat 95% center;
	}
}

button {
	transition: all 0.3s ease;
	display: inline-block;
	@include futura;
	background: #FFF;
	padding: 0.6em 3em;
	text-align: center; 
	@include font-size(13);
	border: 0;
	position: relative;
	cursor: pointer;
	outline: 0;
	border: 1px solid #000;
	-webkit-appearance: none;

	&:hover {
		box-shadow: inset 0 0 0 2px #000;
	}
}

a {
	cursor: pointer;
	transition: all 0.3s ease;
	color: #000;
	text-decoration: none;
	outline: 0;

	&:focus {
		outline: 0;
	}
}

textarea {
	height: 200px;
}

input[type=submit],
input[type=reset] {	
	transition: all 0.3s ease;
	display: inline-block;
	@include dinbek;
	background: #ed3d89;
	color: #FFF;
	border-radius: 3px;
	padding: 0.8em 3em;
	//@include font-size(10);
	border: 0;

	&:hover {
		background: #000;
		color: #FFF;
	}

	&:focus {
		outline: none;
	}
}


button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="radio"]::-moz-focus-inner,
option::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
	border: none !important;
	outline: none !important;
}

label {
	@include dinbek;
	@include font-size(16);
}

fieldset {
	border: 1px solid #000;
	padding: 1em;

	legend {
		padding: 0 1em;
		@include futura;
		@include font-size(10);
	}
}

::-webkit-input-placeholder {
	opacity: 0.7;
	transition: opacity 0.3s ease;
}

:-moz-placeholder {
	opacity: 0.7;
	transition: opacity 0.3s ease;
}

::-moz-placeholder { 
	opacity: 0.7;
	transition: opacity 0.3s ease;
}

:-ms-input-placeholder {
	opacity: 0.7;
	transition: opacity 0.3s ease;
}

figure {

	img {
		display: inline-block;
		vertical-align: top;
	}
	figcaption {
		padding: 0.4em 0.5em;
		@include futura;
	}
}

caption {
	@include futura;
}