@font-face {
  font-family: 'Dinbek';
  src: url('fonts/dinbek-regular.eot');
  src: url('fonts/dinbek-regular.eot?#iefix') format('embedded-opentype'), 
  		url('fonts/dinbek-regular.woff2') format('woff2'), 
  		url('fonts/dinbek-regular.woff') format('woff'), 
  		url('fonts/dinbek-regular.ttf') format('truetype'), 
  		url('fonts/dinbek-regular.svg#dinbekregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dinbek Bold';
  src: url('fonts/dinbek-bold.eot');
  src: url('fonts/dinbek-bold.eot?#iefix') format('embedded-opentype'), 
  		url('fonts/dinbek-bold.woff2') format('woff2'), 
  		url('fonts/dinbek-bold.woff') format('woff'), 
  		url('fonts/dinbek-bold.ttf') format('truetype'), 
  		url('fonts/dinbek-bold.svg#dinbek-boldregular') format('svg');
  font-weight: bold;
  font-style: normal;
}

@mixin futura {
	font-family: 'Futura W01', sans-serif;
	font-weight: 400;
	font-style: normal; 
}

@mixin sabon {
	font-family: 'Monotype Sabon W01', serif;
	font-weight: 400;
	font-style: normal; 
}

@mixin sabon-italic {
	font-family: 'Monotype Sabon W01', serif;
	font-weight: 400;
	font-style: italic; 
}

@mixin sabon-bold {
	font-family: 'Monotype Sabon W01', serif;
	font-weight: 600;
	font-style: normal; 
}

@mixin sackers {
	font-family: 'Sackers Gothic W01', sans-serif;
	font-weight: 400;
	font-style: normal; 
	text-transform: uppercase;
}

@mixin garamond {
	font-family: 'Bembo W01', 'Adobe Garamond', Garamond, 'Monotype Sabon W01', Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
	font-weight: 400;
	font-style: normal;
}

@mixin dinbek {
	font-family: 'Dinbek', sans-serif;
	font-weight: 400;
	font-style: normal;
}

@mixin dinbek-bold {
	font-family: 'Dinbek Bold', sans-serif;
	font-weight: 600;
	font-style: normal;
}