@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?h00zat');
  src:  url('fonts/icons.eot?h00zat#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?h00zat') format('truetype'),
    url('fonts/icons.woff?h00zat') format('woff'),
    url('fonts/icons.svg?h00zat#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo-couturissimo-circle:before {
  content: "\e90d";
}
.icon-logo-couturissimo:before {
  content: "\e99c";
}
.icon-heart:before {
  content: "\e90c";
}
.icon-menu:before {
  content: "\e90b";
}
.icon-close:before {
  content: "\e900";
}
.icon-chevron-left:before {
  content: "\e909";
}
.icon-chevron-right:before {
  content: "\e90a";
}
.icon-play:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e902";
}
.icon-bag:before {
  content: "\e903";
}
.icon-profile:before {
  content: "\e904";
}
.icon-youtube:before {
  content: "\e905";
}
.icon-twitter:before {
  content: "\e906";
}
.icon-facebook:before {
  content: "\e907";
}
.icon-instagram:before {
  content: "\e908";
}
