@mixin device-width($width){
	@media only screen and (max-width: $width * 100px){
		@content;
	}
}

@mixin device-height($height){
	@media only screen and (max-height: $height * 100px){
		@content;
	}
}

@mixin print(){
	@media print {
		@content;
	}
}

@mixin font-size($size){
	font-size: ($size) + px;
	font-size: ($size / 10) + rem;
}

@mixin icon($icon){
	@extend [class^="icon-"];
	@extend .icon-#{$icon}:before !optional;
}

@mixin scrollbar(){
	-webkit-overflow-scrolling: touch;

	&::-webkit-scrollbar {
	    width: 1px;
	    height: 1px;
	    background: #ebebeb;
	}
	
	&::-webkit-scrollbar-track {
	
	}
	 
	&::-webkit-scrollbar-thumb {
	    background: #6d6d6d; 
	}
	
	&::-webkit-scrollbar-thumb:window-inactive {
		background: #979797; 
	}
}

@mixin keyframes($name) {
	@-moz-keyframes #{$name} {
		@content;
	}
	@-webkit-keyframes #{$name} {
		@content;
	}
	@-o-keyframes #{$name} {
		@content;
	}
	@-ms-keyframes #{$name} {
		@content;
	}
	@-khtml-keyframes #{$name} {
		@content;
	}
	@keyframes #{$name} {
		@content;
	}
}