.site-header {
	background: #FFF;
	display: flex;
	justify-content: space-between;
	height: 60px;
	box-shadow: 0 0 8px rgba(124,0,64, 0.1);
	z-index: 100;

	@include device-width(8) {
		height: 50px;
	}

	.site-logo {
		@include device-width(8) {
			padding: 0 1em;
		}
	}

	.header-navigation {

		@include device-width(8) {
			display: none;
		}
	}
}

.site-main {
	flex: 1;
}

.site-footer {
	background: #ed3d89;
	color: #FFF;
	text-align: center;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	.terms-conditions {
		display: none;

		@include device-width(8) {
			display: block;
		}
	}
}

.header-navigation {
	@extend .secondary-navigation;
}

.secondary-navigation {
	display: flex;

	.menu {
		display: flex;
		align-items: center;
	}

	.menu-item {

		a {
			padding: 0.5em 2em;
			@include font-size(18);
		}
	}
}

.menu-item {
	a {
		display: inline-block;
		color: #58585a;
		@include dinbek-bold;

		&:hover {
			color: #000;
		}
	}
}

.site-logo {
	background: #7b0140;
	display: flex;
	align-items: center;
	padding: 0.5em 2em;
}

.primary-button {
	border-radius: 3px;
	display: inline-block;
	background: #7b0140;
	padding: 1em 2em;
	@include font-size(18);
	color: #FFF;
	text-align: center;
	box-shadow: 0 2px 12px rgba(#000, 0.2);
	@include dinbek-bold;

	&:hover {
		background: #ed3d89;
	}
}

.secondary-button {
	border-radius: 3px;
	display: inline-block;
	background: #d4d4d4;
	padding: 1em 2em;
	@include font-size(18);
	color: #FFF;
	text-align: center;
	@include dinbek-bold;

	&:hover {
		background: #a0a0a0;
	}
}

.tertiary-button {
	border-radius: 3px;
	display: inline-block;
	background: #FFF;
	padding: 0.7em 2em;
	@include font-size(14);
	text-align: center;
	text-transform: uppercase;
	@include dinbek-bold;

	&:hover {
		color: #FFF;
		background: #7b0140;
	}
}

.facebook-button {
	position: relative;

	&:before {
		content: '';
		width: 25px;
		height: 25px;
		background: url(../images/icon-facebook.svg);
		vertical-align: -6px;
		display: inline-block;
		margin-right: 0.5em;
		background-size: contain;	
	}

	&:hover {
		background: #29487d;
	}
}

.hero {
	display: flex;
	height: 40vh;
	max-height: 600px;
	min-height: 460px;
	color: #FFF;
	text-align: center;
	align-items: center;
	justify-content: center;
	background: #000 url(../images/hero.jpg) no-repeat center;
	background-size: cover;
	position: relative;
	z-index: 100;


	@include device-width(8) {
		min-height: 300px;
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(#000, 0.1);
	}

	.hero-title {
		@include device-width(12) {
			@include font-size(40);
		}

		@include device-width(10) {
			@include font-size(34);
		}
	}

	.hero-subtitle {
		@include device-width(12) {
			@include font-size(34);
		}

		@include device-width(10) {
			@include font-size(30);
		}

		@include device-width(8) {
			@include font-size(26);
		}
	}
}

.hero-content {
	text-shadow: 0 0 20px rgba(#000, 1);
	position: relative;
	z-index: 200;
}

.hero-title {
	@include dinbek-bold;
	margin: 0.5em 0;
}

.hero-subtitle {
	margin: 0.5em 0;
}

.register-content {
	background: #FFF;
	box-shadow: 0 0 30px rgba(#000, 0.05);
	max-width: 620px;
	position: relative;

	.register-form {
		margin: 0 auto;
		max-width: 470px;

		.form-title {
			margin-left: -2em;
			margin-right: -2em;

			@include device-width(7) {
				margin: 0;
			}
		}
	}

	.upgrade-notice {
		position: absolute;
		top: 0;
		left: 0;
		transform: translate(-50%, -50%);

		@include device-width(8) {
			display: none;
		}
	}
}

.register-page {
	.register-content {
		margin: -6em auto 4em auto;
		padding: 2em;
		position: relative;
		z-index: 200;

		@include device-width(8) {
			padding: 1em;
		}

		@include device-width(7) {
			margin: -2em 1em 2em 1em;
			width: auto;
		}
	}
}

.register-form {
	margin: 0 auto;

	.form-body {
		display: flex;
		flex-flow: wrap;
		justify-content: space-between;
	}

	.form-field {
		width: 100%;
	}

	.last-name-field,
	.first-name-field,
	.age-field,
	.source-field,
	.gender-field,
	.why-field,
	.dob-field,
	.activation-method-field {
		width: 49%;
	}

	.country-phone-code-field {
		width: 30%;
	}

	.phone-field {
		width: 69%;
	}

	.form-footer {
		margin: 1em 0 0 0;

		input[type=submit] {
			width: 100%;
		}
	}
}

.form-header {
	text-align: center;
	padding: 1em 0;

	.form-title {
		margin: 0.5em 0;

		@include device-width(12) {
			@include font-size(34);
		}

		@include device-width(10) {
			@include font-size(30);
		}

		@include device-width(8) {
			@include font-size(26);
		}
	}
}

.form-body {
	.form-field {
		margin-bottom: 0.8em;
	}
}

.form-footer {
	.form-disclaimer {
		margin: 1em 0 0 0;
	}
}

.form-title {
	color: #7b0140;
	@include dinbek-bold;
}

.form-description {
	@extend .entry-content;
}

.form-disclaimer {
	@include font-size(12);
}

.checkbox-field {
	padding-left: 20px;
	position: relative;

	input {
		position: absolute;
		top: 0;
		left: 0;
		margin: 0.3em 0;
	}

	a {
		color: #ed3d89;
	}
}

.entry-content {
	h1, h2, h3, h4, h5, h6 {
		margin: 0.5em 0;
	}

	p {
		margin: 0.8em 0;
	}
}

.connect-page {
	.connect-content {
		margin: -6em auto 4em auto;
		padding: 2em;
		position: relative;
		z-index: 200;

		@include device-width(8) {
			padding: 1em;
		}

		@include device-width(7) {
			margin: -2em 1em 2em 1em;
			width: auto;
		}
	}
}

.connect-content {
	background: #FFF;
	box-shadow: 0 0 30px rgba(#000, 0.05);
	max-width: 620px;
	text-align: center;
	position: relative;
	@extend .entry-content;

	hr {
		margin: 2em 0;
	}

	p,
	h2,
	hr {
		max-width: 350px;
		margin-left: auto;
		margin-right: auto;
	}

	h2 {
		@include dinbek-bold;
		color: #7b0140;

		@include device-width(12) {
			@include font-size(34);
		}

		@include device-width(10) {
			@include font-size(30);
		}

		@include device-width(8) {
			@include font-size(26);
		}
	}

	.primary-button,
	.secondary-button {
		width: 100%;
	}

	.upgrade-notice {
		position: absolute;
		top: 0;
		left: 0;
		transform: translate(-50%, -50%);

		@include device-width(8) {
			display: none;
		}
	}

	.activation-form {
		// margin-top: 3em;
		// border-top: 1px solid #dcdcdc;
	}
}

.upgrade-notice {
	width: 148px;
	height: 148px;
	display: block;
	background: url(../images/upgrade-notice.png) no-repeat center;
	background-size: contain;
}

.logos {
	text-align: center;
}

.welcome-back-page {
	display: flex;
	flex-flow: wrap;

	.connected {
		max-width: 600px;
		padding: 4em;

		@include device-width(12) {
			max-width: 400px;
			padding: 2em;
		}

		@include device-width(10) {
			width: 33.333%;
			padding: 1em;			
		}

		@include device-width(8) {
			max-width: none;
			width: 100%;
			text-align: center;	
		}

		h2 {
			@include device-width(10) {
				@include font-size(20);
			}
		}

		h5 {
			@include device-width(10) {
				@include font-size(16);
			}
		}
	}

	.manage-connection {
		width: calc(100% - 600px);
		padding: 4em;

		@include device-width(12) {
			width: calc(100% - 400px);
			padding: 2em;
		}

		@include device-width(10) {
			width: 66.666%;
			padding: 1em;
		}

		@include device-width(8) {
			width: 100%;
		}

		h5 {
			@include device-width(10) {
				@include font-size(18);
			}
		}

		.connection-option {
			margin-bottom: 0;
		}
	}

	.offers {
		width: 100%;
	}

	.additional-devices {
		width: 100%;
	}
}

.connected {
	background: #aebb60;
	color: #FFF;
	display: flex;
	align-items: center;
	justify-content: center;
}

.connected-content {
	@extend .entry-content;

	h2 {
		@include dinbek-bold;

		@include device-width(12) {
			@include font-size(30);
		}

		@include device-width(10) {
			@include font-size(24);
		}

		@include device-width(8) {
			@include font-size(20);
		}
	}

	h5 {
		@include device-width(8) {
			@include font-size(16);
		}
	}

	.highlight {
		color: #ecfd88;
	}
}

.lined-title {
	position: relative;
	text-align: center;

	span {
		position: relative;
		z-index: 200;
		background: #FFF;
		padding: 0 0.5em;
	}

	&:before {
		z-index: 100;
		content: '';
		top: 50%;
		left: 0;
		right: 0;
		height: 1px;
		display: block;
		background: #dcdcdc;
		position: absolute;
	}
}

.manage-connection {
	background: #FFF;

	.connection-options {
		max-width: 800px;
		margin: 0 auto;
	}
}

.manage-connection-header {
	text-align: center;

	h3 {
		margin: 0.2em 0 0.8em 0;

		@include device-width(8) {
			@include font-size(24);
		}

		@include device-width(6) {
			@include font-size(20);
		}
	}

	.logos {
		margin: 1em 0;
	}
}

.connection-options {
	.connection-option {
		margin: 0 0 2em 0;
		box-shadow: 0 3px 30px rgba(#000, 0.1);

		@include device-width(8) {
			margin-bottom: 1em;
		}
	}
}

.connection-option {
	padding: 2em;
	padding-right: 200px;
	position: relative;
	min-height: 130px;

	@include device-width(6) {
		padding: 1em;
	}

	h5 {
		margin-bottom: 0.2em;
		@include device-width(8) {
			@include font-size(16);
		}
	}

	p {
		@include font-size(13);
		margin: 0.4em 0;

		@include device-width(8) {
			@include font-size(11);
		}
	}

	.selection {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		padding: 1em;
		text-align: center;
		background: #ed3d89;
		width: 180px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		@include device-width(8) {
			width: 150px;
		}

		@include device-width(6) {
			width: auto;
			position: relative;
			margin: 1em -1em -1em -1em;
		}

		a {
			margin-top: 1em;
		}
	}
}

.superfast-option {
	background: #7b0140;
	color: #FFF;
	@extend .connection-option;

	.selection {
		background: #ed3d89;
	}

	.upgrade-notice {
		position: absolute;
		top: 0;
		left: 0;
		width: 85px;
		height: 85px;
		transform: translate(-50%, -50%);

		@include device-width(8) {
			display: none;
		}
	}

	.logos {
		background: #FFF;
		padding: 1em;
		color: #000;
		margin: 1em 0 0 0;
	}
}


.free-option {
	background: #dfdfdf;
	color: #333;
	@extend .connection-option;
	
	.selection {
		background: #9b9b9b;
	}
}

.food-offers {
	display: flex;
	flex-flow: wrap;
	width: 100%;
	
	.offers-header {
		padding: 4em;
		max-width: 600px;
		padding: 4em;

		@include device-width(12) {
			max-width: 400px;
			padding: 2em;
		}

		@include device-width(10) {
			max-width: none;
			width: 100%;
			text-align: center;
		}

		@include device-width(8) {
			padding: 1em;
		}
	}

	.offers-list {
		width: calc(100% - 600px);
		padding: 4em;

		@include device-width(12) {
			width: calc(100% - 400px);
			padding: 2em;
		}

		@include device-width(10) {
			width: 100%;
		}

		@include device-width(8) {
			padding: 1em;
		}
	}
}

.offers-header {
	@extend .entry-content;

	h2 {
		@include dinbek-bold;

		@include device-width(12) {
			@include font-size(30);
		}

		@include device-width(10) {
			@include font-size(24);
		}

		@include device-width(8) {
			@include font-size(20);
		}
	}
}

.offers-list {
	display: flex;
	flex-flow: wrap;

	.offer-item {
		width: 33.333%;

		@include device-width(14) {
			width: 50%;
		}

		@include device-width(10) {
			width: 33.333%;
		}

		@include device-width(6) {
			width: 50%;
		}
	}

	.offers-disclaimer {
		margin: 0 1em;
	}
}

.offer-item {
	position: relative;
	padding: 10px;

	.offer-title {
		@include dinbek-bold;
		display: block;
		text-align: center;
		padding: 0.5em;
	}

	.offer-thumbnail {
		img {
			width: 100%;
		}
	}

	.offer-price {
		position: absolute;
		top: 10px;
		left: 10px;
		border-bottom-right-radius: 100%;
		background: #aebb60;
		color: #FFF;
		font-weight: bold;
		font-size: 1.8em; 
		padding: 0.3em 1em 0.8em 0.5em;
	}
}

.terms-conditions-page {
	padding: 0 0 2em 0;
	
	.terms-conditions-content {
		margin: 0 auto;
		padding: 2em;
		position: relative;
		z-index: 200;

		@include device-width(8) {
			padding: 1em;
		}

		@include device-width(7) {
			margin: 0 1em;
			width: auto;
		}
	}
}

.terms-conditions-header {
	padding: 4em 0;
	text-align: center;

	@include device-width(6) {
		padding: 2em 0;
	}

	h1 {
		@include device-width(6) {
			@include font-size(30);
		}
	}
}

.terms-conditions-content {
	max-width: 800px;
	background: #FFF;
	margin: 0 auto;
	@extend .entry-content;

	h4 {
		@include device-width(6) {
			@include font-size(18);
		}
	}
}

.activation-form {
	position: relative;

	.form-footer {
		position: absolute;
		bottom: 0;
		right: 0;
		margin: 1px;

		input[type=submit] {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
}



#activate,
#resend {
	display: none;

	&:target {
		display: block;
	}
}

.additional-devices {
	background: #7b0140;
	padding: 4em 10px;

	@include device-width(7) {
		padding: 2em 10px;
	}

	> .inner {
		display: flex;
		padding: 3em;
		background: #FFF;
		max-width: 900px;
		margin: 0 auto;
		justify-content: space-between;
		align-items: center;

		@include device-width(7) {
			flex-flow: column;
			padding: 2em;
		}
	}

	.additional-devices-content {
		@include device-width(4) {	
			text-align: center;
		}
		img {
			@include device-width(4) {	
				display: none;
			}
		}
	}

	.activation-code {
		@include device-width(7) {
			margin: 1em 0 0 0;
		}
	}
}

.additional-devices-content {
	@extend .clearfix;
	padding: 0 1em 0 0;

	h5 {
		color: #7b0140;
		margin: 0 0 0.5em 0;
		@include dinbek-bold;
	}

	img {
		float: left;
		margin: 0.5em 2em 0.5em 0;
	}
}
.activation-code {
	color: #7b0140;
	background: #f2f2f2;
	padding: 0.5em 3em;
	@include font-size(28);
	@include dinbek-bold;
	vertical-align: middle;
}

.portal-page {
	.manage-connection {
		padding: 4em 0;
		background: none;
	}
}